{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "shippedProposals": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie > 0",
            "not Android > 0"
          ],
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        "@babel/react",
        [
          "@babel/env",
          {
            "modules": false,
            "shippedProposals": true,
            "targets": {
              "browsers": [
                "last 2 versions",
                "not ie > 0",
                "not Android > 0"
              ],
              "node": "8.10"
            }
          }
        ]
      ]
    }
  }
}